@import '../../styles/utils/variables';

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  width: 100%;
  height: 100%;
}

.title {
  font-family: $font-title-list;
  font-size: 3rem;
}

.items-list {
  background-color: $colour-bcg;
  color: $colour-font;
  display: flex;
  // justify-content: space-evenly;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.items-list > div {
  margin: 1rem !important;
}
