@import '../../styles/utils/variables';

avatar-colorDefault {
  background-color: red;
}

.container {
  margin-top: 5vh;
  background-color: $colour-bcg;
  color: $colour-font;
}

.name {
  display: flex;
}
