$primary-colour-lighter: #eff7ff;
$primary-colour-ligth: #c8e4ff;
$primary-colour-base: #0481ff;
$primary-colour-dark: #003366;
$primary-colour-darker: #00162b;

$secondary-colour-lighter: #ffefef;
$secondary-colour-ligth: #ffc8c8;
$secondary-colour-base: #b30000;
$secondary-colour-dark: #660000;
$secondary-colour-darker: #1a0000;

$tertiary-colour-lighter: #efffff;
$tertiary-colour-ligth: #c8ffff;
$tertiary-colour-base: #00b3b3;
$tertiary-colour-dark: #006666;
$tertiary-colour-darker: #003333;
