@import './colours';

$colour-bcg: $primary-colour-darker;
$colour-font: $primary-colour-lighter;
$colour-primary: $primary-colour-dark;
$colour-secondary: $secondary-colour-dark;

$btn-primary: $primary-colour-base;
$btn-secondary: $secondary-colour-base;
