@import '../utils/colours';

.light-theme {
  $colour-bcg: $primary-colour-lighter;
  $colour-font: $primary-colour-darker;
  $colour-primary: $primary-colour-dark;
  $btn-primary: $primary-colour-base;
}
