.container {
  background: #042140;
}

.header {
  &__container {
    height: 100vh;
    width: auto;
    background-image: url('https://media.rawg.io/media/games/84d/84da2ac3fdfc6507807a1808595afb12.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px black;
  }

  &__title {
    font-size: 3rem;
    &__container {
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.4);
      margin-bottom: 2rem;
    }
  }
}

.main {
  display: flex;
  width: 100%;
}

.chat-section {
  flex-grow: 1;
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  padding: 1rem;

  &__input__container {
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
  }
}

.message {
  &__container {
    margin: 2rem;
    background-color: #effff7;
  }

  &__container:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__avatar-colorDefault {
    background-color: red;
  }

  &__icon {
    &__button:hover {
      background-color: rgba(255, 0, 0, 0.2) !important;
    }

    &__svg {
      color: red;
    }
  }
}

.topic-section {
  padding: 2rem;
  margin-top: 3rem;
  max-width: 30rem;
  min-width: 15rem;
  position: relative;
}

.topic {
  &__container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 4rem;
    position: sticky;
    background-color: #fff;
    top: 5rem;
    width: 100%;
  }

  &__container:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  }

  &__title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
  }

  &__item {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
  }

  &__item:hover {
    cursor: pointer;
  }
}
