@import '../../styles/utils/colours';

.header {
  background-color: $primary-colour-dark !important;
}

.drawer {
  background-color: $primary-colour-dark !important;
}

.link {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  overflow: hidden;
  background: linear-gradient(to right, #000000, #808080 50%, #FFFFFF 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}
.link:hover {
  background-position: 0 100%;
  //  color: #00F
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &col{
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
